.navtag {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 0.95rem;
    text-align: left;
    color: hsl(0deg 0% 100% / 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    width: max-content;
    padding: 0px 10px;
    height: 2em;
    text-align: left;
    background: hsl(19deg 100% 50%);
    box-shadow: inset 0px 0px 4px 0px hsl(19deg 100% 50% / 100%), inset 0px 0px 15px 8px hsl(0deg 0% 0% / 45%), #100f0fbf 4px 4px 10px;
}

.navtag button {
    background-color: hsl(0deg 0% 0% / 0%);
    border: unset;
    color: white;
    margin-top: 0.3em;
}

.navtag.in-deck {
    background: hsl(224, 60%, 60%);
    box-shadow: inset 0px 0px 4px 0px hsl(224, 60%, 60%), inset 0px 0px 15px 8px hsl(0deg 0% 0% / 45%), #100f0fbf 4px 4px 10px;
}

.navtag.in-deck.strict {
    box-shadow: inset 0px 0px 4px 0px hsl(11.47deg 100% 50.46%), inset 0px 0px 4px 0px hsl(224, 60%, 60%), inset 0px 0px 15px 8px hsl(0deg 0% 0% / 45%), #100f0fbf 4px 4px 10px;
}