.appbar {
    position: sticky;
    top: 0;
    z-index: 99;
    font-family: 'IM Fell DW Pica';
    background-color: hsl(0, 45%, 17%);
}

.appbar .top-row {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 0.4em;
    padding: 0.75em;
    background: linear-gradient(180deg, hsl(0, 47%, 43%) 0%, hsl(0deg 42% 25%) 50%, hsl(0deg 45% 17%) 100%);
}

/* LOGO STYLES */
.appbar .top-row .logo {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    user-select: none;
    font-weight: bold;
}

.appbar .top-row .logo span:first-child {
    color: hsl(12, 100%, 95%);
    font-size: 1.05em;
    line-height: 1em;
}

.appbar .top-row .logo span {
    color: hsl(9, 55%, 50%);
    font-size: 2em;
    line-height: 1em;
    height: 0.8em;
}

.appbar .bottom-row {
    z-index: 99;
    position: relative;
}









@media (max-width: 800px) {
    .appbar .top-row .ham-menu {
        background: unset;
        border: unset;
        color: white;
        text-align: right;
        font-size: 1.4em;
    }

    .results-gallery {
        justify-content: center;
    }

}


/* to be moved */



.appbar button,
.appbar div.btn {
    text-transform: uppercase;
    font-weight: normal;
}

.appbar div.btn {
    display: flex;
}

.appbar div.btn span {
    align-self: center;
}

.appbar button.file-select {
    text-transform: unset;
}

.appbar button:active {
    transform: translateY(2px);
    box-shadow: inset hsl(0deg 0% 0% / 60%) 2px 2px 4px 0px;
    box-shadow: unset;
}

.appbar button svg,
.appbar span svg {
    font-size: 1.4em;
    vertical-align: bottom;
}

/* .appbar button span>svg,
.appbar span>svg {
    margin-right: 0.4em;
} */