div.options-bar {
    padding: 10px;
    background-color: rgb(46, 20, 20);
    min-height: 54px;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(94px, 1fr));
}

div.options-bar button {
    height: 54px;
    width: 94px;
    
    box-shadow: #00000040 1px 1px 4px 1px;
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 4px;
    border-style: none;
  
    color: rgb(209, 197, 197);
    text-align: center;
    text-decoration: none;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 18px;
}