.menubutton {
    background-color: hsla(0, 100%, 65%, 0.25);
    border-radius: 0.3em;
    border: unset;
    box-shadow: hsl(0deg 0% 0% / 60%) 2px 2px 4px 0px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    height: 2.5em;
    transition: background-color 0.2s;
}

.menubutton:active {
    transform: translateY(2px);
    box-shadow: inset hsl(0deg 0% 0% / 60%) 2px 2px 4px 0px;
    box-shadow: unset;
}

.menubutton:hover {
    background-color: hsla(0, 100%, 65%, 0.45);
    transition: background-color 0.2s;
}

.menubutton.highlighted {
    background-color: hsla(0, 100%, 65%, 0.60);
}

.menubutton>span {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    user-select: none;
}


.react-tiny-popover-container {
    z-index: 9999999999999999;
}