div.card.npc-card,
div.card.npc-card .card-side {
  width: 250px;
  height: 320px;
  background-color: white;
  z-index: 2;
}

div.card.npc-card.priority {
  z-index: 99;
}

div.card.npc-card .card-header {
  height: 100px;
}

div.card.npc-card .card-header .label {
  z-index: 5;
  text-transform: capitalize;
}

div.card.npc-card .card-body {
  padding: 5px;
}

div.card.npc-card p {
  line-height: 15px;
}

div.card.npc-card p.alignment {
  display: inline-block;
  text-transform: capitalize;
}

div.card.npc-card p.relationship {
  display: inline-block;
  margin-left: 5px;
  text-transform: capitalize;
}

div.card.npc-card p.relationship.friendly {
  color: rgb(23, 221, 50);
}

div.card.npc-card p.relationship.hostile {
  color: red;
}

div.card.npc-card p.relationship.indifferent {
  color: rgb(218, 178, 2);
}

div.card.npc-card p.voice {
  color: rgb(20, 206, 219);
  font-style: italic;
  margin-bottom: 8px;
  margin-top: -2px;
}

div.card.npc-card p.occupation {
  text-align: justify;
}

div.card.npc-card p.abilities {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  background-color: #efefef;
  text-transform: uppercase;
}

div.card.npc-card p.abilities span {
  padding: 0px 10px;
}

div.card.npc-card p.description {
  text-align: justify;
  margin-top: 10px;
  color: #b5b5b5;
}

div.card.npc-card .card-side.back .card-body {
  /* margin: 10px; */
  background-color: white;
}

div.card.npc-card .card-side.back .npc-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

div.card.npc-card.human .card-header {
  background: rgb(75 84 110);
  background: linear-gradient(150deg, rgb(75 84 110) 0%, rgba(0, 0, 0, 1) 100%);
}

div.card.npc-card.dwarf .card-header {
  background: rgb(77, 68, 56);
  background: linear-gradient(150deg, rgb(77, 68, 56) 0%, rgba(0, 0, 0, 1) 100%);
}

/* div.card.npc-card.human .card-side.back {
  background: rgb(75 84 110);
  background: linear-gradient(159deg, rgba(75 84 110, 1) 0%, rgba(150, 157, 176, 1) 43%, rgba(184, 189, 202, 1) 64%, rgba(188, 192, 205, 1) 97%);
}

div.card.npc-card.dwarf .card-side.back {
  background: rgb(77, 68, 56);
  background: linear-gradient(150deg, rgb(77, 68, 56) 0%, rgb(131, 129, 129) 100%);
} */


div.card.npc-card .tags-dialog {
  position: absolute;
  left: 270px;
  height: 320px;
  width: 400px;
  top: -290px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 5px 5px 10px 0px #0000006e;
  z-index: 99999999999;
}

div.card.npc-card .tags-dialog .tags-results {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

div.card.npc-card .tags-dialog form input {
  width: inherit;
  height: 30px;
  align-self: flex-end;
  background: #0000000d;
  border: none;
  color: #5e5e5e;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 1.2rem;
  padding: 0px 0px 0px 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

div.card.npc-card .tags-dialog form input:focus {
  border-style: none;
  outline: none;
}