.background-picker {
    position: absolute;
    left: 0;
    height: 1.6em;
    width: 16em;
    bottom: 0.2em;
    border-radius: 0.3em;
    background-color: white;
    box-shadow: 0px -2px 10px 2px #00000045;
    transform: rotate(2deg) !important;
    z-index: 2;
}

.background-picker-btn {
    color: white;
}

.card-tools .background-picker-btn {
    font-size: 1.3em;
}

.background-picker form {
    display: inline-grid;
    grid-template-columns: 10.5em 2.7em 2.7em;
}

.background-picker input {
    border: none;
    background-color: rgba(128, 128, 128, 0.158);
    color: gray;
    font-family: inherit;
    font-size: 1em;
    padding: 0 0.4em;
    height: 1.6em;
}

.background-picker input:focus {
    border-style: none;
    outline: none;
}

div.background-picker form button {
    font-size: 1.6em !important;
    padding: 0px !important;
    height: 1em !important;
    color: gray !important;
    border-radius: 0.2em;
}


.toolbar div.background-picker {
    position: absolute;
    font-size: 1.2em;
    right: 0.6em;
    margin-left: auto;
    height: 1.6em;
    width: 16em;
    bottom: 0.9em;
    border-radius: 0.3em;
    background-color: white;
    color: gray;
    box-shadow: 0px -2px 10px 2px #00000045;
    transform: rotate(2deg) !important;
    z-index: 2;
}

.toolbar div.background-picker form {
    display: inline-grid;
    grid-template-columns: 10.2em 3.7em 2.7em;
}