.appbody {
  flex-grow: 2;
  overflow: hidden;
  display: grid;
  grid-template-columns: 67px 1fr 67px;
  grid-template-rows: 49px 1fr;
}

.appbody .divider-center {
  background: url(../../assets/img/ui_border_top.png) repeat-x;
}

.appbody .divider-left {
  background: url(../../assets/img/ui_border_top-left.png);
}

.appbody .divider-right {
  background: url(../../assets/img/ui_border_top-right.png);
}

.appbody .border-left {
  background: url(../../assets/img/ui_border_left.png) repeat-y;
}

.appbody .border-right {
  background: url(../../assets/img/ui_border_right.png) repeat-y;
}

.appbody .content {
  display: flex;
  overflow: hidden;
  padding-bottom: 2em;
  background-color: var(--test-color);
}


@media (max-width: 768px) {

  .appbody {
    grid-template-columns: 1fr;
  }

  .appbody .content {
    padding: 0em 0.75em;
  }

  .appbody .divider-left,
  .appbody .divider-right,
  .appbody .border-left,
  .appbody .border-right {
    display: none;
  }
}