.card {
    height: 26em;
    width: 16em;
    font-family: 'IM Fell DW Pica', serif;
    position: relative;
}

.card-front,
.card-back {
    position: absolute;
    display: grid;
    height: inherit;
    width: inherit;
    cursor: pointer;
    border-radius: 0.75em;
    padding: 0.8em 0.8em 0 0.8em;
    box-shadow: hsl(30deg 50% 25% / 40%) 2px 2px 5px 0px;
    box-sizing: border-box;
    background: linear-gradient(150deg, hsl(0deg 6% 45%) 0%, hsl(0, 0%, 20%) 100%);
    background-blend-mode: hard-light;
    background-position-x: center !important;
}

.card-front:before,
.card-back:before {
    content: '';
    border: 0.15em solid hsl(45deg 14.23% 69.88% / 59%);
    position: absolute;
    flex: 1;
    width: 94%;
    height: 90%;
    justify-self: center;
    align-self: top;
    margin-top: 0.4em;
    border-radius: 0.6em;
    z-index: 9;
    pointer-events: none;
}

.card-front {
    /* grid-template-rows: 4em 20em 2em; */
    grid-template-rows: minmax(5em, auto) min-content min-content;
}

.card-back {
    /* grid-template-rows: 24em 2em; */
    grid-template-rows: auto min-content;
}


/* CARD LABEL */
.card .card-front .label {
    display: flex;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-sizing: border-box;
}

.card .card-front .label>div {
    flex: 1;
    line-height: 1em;
    height: 2em;
    justify-content: end;
    text-align: right;
    overflow: hidden;
    color: hsl(0 0% 100% / 1);
    font-size: 1.3em;
    z-index: 1;
    white-space: break-spaces;
    text-shadow: 0 0 4px black;
}

.card .card-front .label>textarea {
    resize: none;
    color: white;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: 1.4em;
    background: none;
    text-align: right;
    line-height: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    max-height: 2.1em;
}

.card .card-front .label>textarea:focus {
    border-style: none;
    outline: none;
}


/* CARD BODY */
.card .body {
    background: hsl(45, 30%, 90%);
    background: linear-gradient(0deg, hsl(45, 30%, 90%) 0%, hsla(45, 30%, 90%, 0.98) 50%, hsla(45, 30%, 90%, 0.8) 100%);
    max-height: 14em;
    align-self: end;
    z-index: 2;
    padding: 0.75em 0.75em 1.75em 0.75em;
    padding: 0.75em 0.75em 2.25em 0.75em;
    margin: 0 -0.8em;
    overflow-y: scroll;
    box-shadow: 0px -10px 20px 13px hsl(45deg 29% 89% / 82%);
    clip-path: inset(-60px 0px -40px 0px);
}

/* CARD TAGS */
.card .tags {
    display: flex;
    gap: 0.4em;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}


/* CARD TOOLS */
.card .tools {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 0.5em 0.4em 0.2em 0.4em;
    margin: 0 -0.8em;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

.card .card-front .tools {
    background: hsl(46, 30%, 89%);
}

.card .card-front .tools button,
.card .card-front .tools span {
    color: hsl(32, 10%, 50%);
}

.card .tools>div {
    display: flex;
    align-self: flex-end;
}

.card .tools .tools-right {
    flex-grow: 1;
    flex-direction: row-reverse;
}

.card .tools>div>button,
.card .tools>div>span {
    border: none;
    font-family: inherit;
    color: white;
    background: none;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    line-height: 0.6em;
    padding: 0 0.15em;
    align-self: baseline;
}

.card .tools button.copy-button {
    font-size: 1.3em;
    vertical-align: text-bottom;
}





.card .tools .tags-dialog {
    position: absolute;
    left: 0;
    height: 9em;
    width: 16em;
    bottom: 0.2em;
    border-radius: 0.3em;
    background-color: white;
    box-shadow: 0px 1px 10px 0px #00000045;
    transform: rotate(2deg) !important;
    z-index: 9999;
}

.card .tools .tags-dialog .results {
    padding: 0.3em;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 0.4em;
    max-height: 6.3em;
}

.card .tools .tags-dialog form input {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2em;
    width: 13.8em;
    border: none;
    background: hsla(0, 0%, 0%, 0.05);
    color: gray;
    font-family: inherit;
    font-size: 1.1em;
    padding: 0 0.4em;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    z-index: 99999;
}

.card .tools .tags-dialog form input:focus {
    border-style: none;
    outline: none;
}

.card .tag {
    font-size: 0.9em;
    padding: 0 0.4em;
    box-shadow: inset 0px 0px 4px 0px hsl(19deg 100% 50% / 100%), inset 0px 0px 15px 8px hsl(0deg 0% 0% / 25%);
}


/* SCROLL BAR */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(40 25% 75%) !important;
}

::-webkit-scrollbar {
    width: 0.5em;
}




/** REACT QUILL EDITOR TRICKERY **/
.ql-toolbar.ql-snow {
    position: absolute;
    border: none;
    bottom: 0.2em;
    padding: 0;
    margin: 0;
    left: 0.4em;
}

.ql-toolbar.ql-snow.hidden {
    display: none !important;
}

.ql-toolbar.ql-snow .ql-picker-options {
    color: black;
    position: absolute;
    border-radius: 0.3em;
    left: -0.1em;
    top: -8.3em !important;
    margin-bottom: 0;
    z-index: 99 !important;
}

.ql-toolbar.ql-snow .ql-color-picker {
    position: relative;
}

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-options {
    top: -6.9em !important;
    left: -3.3em;
    border-radius: 0.3em;
    z-index: 99;
    transform: rotate(1deg);
    position: absolute;
    width: 8.6em;
    padding: 0.2em;
    margin: 0.1em;
    border: unset;
    min-width: unset;
}

.ql-toolbar.ql-snow .ql-picker-options .ql-picker-item {
    height: 1.9em;
    width: 1.9em;
    padding: 0.4em 0.4em;
    margin: 0.1em;
}

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-options .ql-picker-item {
    height: 0.9em;
    width: 0.9em;
    /* padding: 0.4em 0.4em; */
}

.ql-toolbar.ql-snow button {
    height: 1.4em;
    padding: 0.1em 0.1em;
    width: 1.3em;
    font-size: inherit;
}

.ql-toolbar.ql-snow>span {
    width: 1.8em;
    height: 1.4em !important;
    padding-top: 0.05em;
    font-size: inherit;
    margin-left: -0.1em;
    margin-right: -0.3em;
}

.ql-toolbar.ql-snow span.ql-picker-label {
    padding: 0em 0.23em;
}

.ql-snow .ql-editor blockquote {
    padding-left: 0.8em;
}

.ql-snow .ql-editor p {
    margin: 0;
}

.ql-snow .ql-editor blockquote {
    padding-left: 0.6em;
    border-left: 3px solid #c9bab1;
}

.ql-toolbar.ql-snow .ql-picker-options .ql-stroke {
    fill: none !important;
    stroke: #000000 !important;
}

.ql-toolbar.ql-snow .ql-picker-options .ql-fill {
    fill: #000000 !important;
    stroke: none !important;
}

.ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: hsl(32, 10%, 50%) !important;
}

.ql-toolbar .ql-fill {
    fill: hsl(32, 10%, 50%) !important;
    stroke: none !important;
}

.ql-toolbar .ql-picker {
    color: hsl(32, 10%, 50%) !important;
}

.ql-container.ql-snow {
    height: 100% !important;
    border: unset !important;
    font-size: unset;
}

.ql-container.ql-snow.ql-disabled {
    user-select: none;
}

.ql-container.ql-snow.ql-disabled .ql-editor>* {
    cursor: pointer;
}

.ql-container.ql-snow .ql-tooltip {
    position: fixed;
    z-index: 99;
    font-size: 0.8em;
    /* margin-top: 24em; */
    /* margin-left: 2.9em; */
    transform: rotate(1deg);
    border-radius: 0.3em;
    font-family: 'IM Fell DW Pica';
    font-weight: bold;
    top: 26.6em !important;
    left: 0.7em !important;
}

.ql-container.ql-snow .ql-tooltip input {
    font-size: 1em;
    padding: 0.1em;
    margin: 0.1em;
    height: 2em;
    width: 7em;
}

.ql-editor {
    font-family: 'Asul' !important;
    font-size: 0.75em;
    line-height: 1.05em;
    padding: 0.2em 0 !important;
}

.ql-editor ul,
.ql-editor ol {
    padding-left: unset !important;
}

.ql-editor li {
    padding-left: 1em !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

button:disabled {
    color: gray;
}

.ql-editor ul[data-checked=true]>li::before {
    font-size: 1.2em;
    font-weight: bold;
    color: hsl(0deg 0.65% 36.77%);
}

.ql-editor ul[data-checked=false]>li::before {
    font-size: 1.2em;
    font-weight: bold;
    color: hsl(0deg 0.65% 36.77%);
}

.ql-editor ul[data-checked=true]>li {
    text-decoration: line-through !important;
}

.ql-editor li:not(.ql-direction-rtl)::before {
    margin-left: -1em;
}