.navigation-bar {
    padding: 10px;
    background: rgb(125,36,36);
    background: linear-gradient(180deg, rgba(125,36,36,1) 0%, rgba(64,26,26,1) 100%);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    color: white;
}