.hide_toolbar .ql-toolbar {
    display: none !important;
}

.ql-toolbar {
    position: absolute;
    bottom: 2px;
    padding: 0 !important;
    z-index: 9;
    border: unset !important;
}

.ql-formats {
    margin: 0 !important;
}

.ql-formats button {
    width: 25px !important;
}

.ql-container.ql-snow {
    height: 100% !important;
    border: unset !important;
}

.ql-editor {
    font-family: 'IM Fell DW Pica', serif !important;
    font-size: 1rem;
    line-height: 15px !important;
    padding: 5px 5px !important;
}

.ql-editor ul,
.ql-editor ol {
    padding-left: unset !important;
}

.ql-editor li {
    padding-left: 1em !important;
}