.quill {
    flex: 1;
}

.hide_toolbar .ql-toolbar {
    display: none !important;
}

.ql-toolbar {
    position: absolute;
    bottom: 2px;
    padding: 0 !important;
    z-index: 9;
    border: unset !important;
    padding-bottom: 2px !important;
}

.ql-formats {
    margin: 0 !important;
}

.ql-formats button {
    padding: 2px 0px !important;
    padding-bottom: 2px !important;
    width: 24px !important;
}

/* .ql-formats .ql-fill,
.ql-formats .ql-stroke {
    stroke: white !important;
} */

.ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: #fff !important;
}

.ql-toolbar .ql-fill {
    fill: #fff !important;
    stroke: none !important;
}

.ql-toolbar .ql-picker {
    color: #fff !important;
}

.ql-container.ql-snow {
    height: 100% !important;
    border: unset !important;
}

.ql-editor {
    font-family: 'IM Fell DW Pica', serif !important;
    font-size: 1.05em;
    line-height: 1em;
    padding: 0.2em 0 !important;
    text-align: justify;
}

.ql-editor ul,
.ql-editor ol {
    padding-left: unset !important;
}

.ql-editor li {
    padding-left: 1em !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

div.quill span.ql-formats span.ql-color.ql-picker.ql-color-picker span.ql-picker-options {
    position: absolute;
    top: -8.15em;
    right: -6.2em;
    border-radius: 0.3em;
    z-index: 99;
    transform: rotate(1deg);
}

button:disabled {
    color: gray;
}