.card-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0.2em;
    border-bottom: 0.15em solid hsl(36 30% 80% / 1);
}

.card-stats:empty {
    border-bottom: none;
}

.card-stat {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 3.5em;
    position: relative;
}

.card-stat span,
.card-stat input.edit-label {
    background: none;
    border: none;
    color: #434040;
    line-height: 1em;
    font-size: 0.6em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 0.2em;
    overflow: hidden;
    white-space: nowrap;
}

.card-stat input.edit-label:focus {
    border: unset;
    outline: unset;
    background-color: hsl(36 12% 85% / 1);
    border-radius: 0.3em;
    transition: background-color 0.2s;

}


.card-stat span,
.card-stat input,
.card-stat button {
    font-family: 'Asul', serif;
}

.card-stat input.edit-value {
    /* background: hsl(36 12% 65% / 1); */
    background: hsl(36 10% 50% / 1);
    border: none;
    border-radius: 0.3em;
    height: 1.6em;
    box-sizing: border-box;
    text-align: center;
    box-shadow: inset -7px -6px 8px 0px hsl(0deg 0% 0% / 10%);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    font-family: 'Asul';
    z-index: 9;
    padding: 0em 0.1em;
    text-shadow: 0 0 2px black;
}

.card-stat input.edit-value:focus {
    border: none;
    outline: none;
}

.card-stat button {
    font-size: 1em;
    color: white;
    border-style: none;
    border-radius: 0.2em;
    box-shadow: 1px 1px 3px 0px hsl(0deg 0% 0% / 30%);
}

.card-stats button.color-picker {
    text-align: left;
    padding-right: 2em;
    height: 1.8em;
    background: hsl(36 12% 65% / 1);
    box-shadow: inset 0px 0px 20px 0px hsl(0deg 0% 0% / 40%), hsl(0deg 0% 0% / 25%) 0px 0px 0px;
    position: relative;
    z-index: 8;
}

.card-stats .card-stat-edit {
    position: relative;
}

.card-stats .card-stat-edit~span {
    margin-bottom: 0.4em;
    padding-top: 0.4em;
}

.card-stats .card-stat-edit button.remove-stat {
    background-color: tomato;
    position: absolute;
    z-index: 9;
    font-size: 0.8em;
    margin-left: 2.5em;
    transform: rotate(8deg);
}

.card-stats .chrome-picker {
    position: absolute;
    bottom: 0;
}

.card:has(.chrome-picker),
.card:has(.slider-picker) {
    z-index: 99999;
}

.card-stat-total-effect {
    position: absolute;
    top: 0;
    border-radius: 0.4em;
    width: 3.3em;
    height: 1.9em;
    z-index: 1 !important;
    background: hsl(36deg 1.11% 42.17%);
    transform: rotate(6.5deg);
}