div.tag {
    width: max-content;
    border-radius: 4px;
    background: tomato !important;
    box-shadow: inset 0px 0px 3px 0px hsl(19deg 100% 50% / 100%), inset 0px 0px 22px 15px hsl(0deg 0% 0% / 44%), #100f0fbf 4px 4px 10px;
    color: white;
    padding-right: 10px;
    padding: 10px 8px 2px 8px;
    font-size: 22px;
    font-family: 'IM Fell DW Pica', serif;
    text-align: end;
    cursor: pointer;
}

div.tag:active {
    transform: translateY(2px);
    box-shadow: inset 0px 0px 4px 0px hsl(19deg 100% 50% / 100%), inset 0px 0px 40px 16px hsl(0deg 0% 0% / 50%);
}

.tag button {
    margin-right: 20px;
    background: #ffffff00;
    color: white;
    border: none;
    font-size: 1rem;
}