@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0px;
  width: 100%;
  background: #f9f9f9 url(./img/background_texture.png) repeat;
}

span.credit {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: 'IM Fell DW Pica';
  color: #6c6a6a;
  font-size: 14px;
}

span.credit .nickname {
  color: #00d0ff;
  margin-right: 5px;
}